<footer class="text-muted py-5">
    <div class="container">
        <p class="float-end mb-1">
            <a href="#" class="link-secondary">Назад до початку сторінки</a>
        </p>

        <div class="container">
            <div class="row">
                <p class="mb-1">Магазин побутової техніки &copy;</p>
                <div class="col-sm-8 col-md-7 py-4">
                    <p class="text-muted">В нашому магазині Ви можете знайти якісну техніку, яка буде приносити тільки
                        задоволення і радість від користування нею.</p>
                </div>
                <div class="col-sm-8 col-md-8 py-1">
                    <p class="mb-0"><a href="/about">Більше про нас</a>
                </div>
            </div>
        </div>
    </div>
</footer>

